---
name: kdlfmt
on: [push]
jobs:
  verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: setup-kdlfmt
        uses: hougesen/kdlfmt@main
      - name: Run kdlfmt
        run: kdlfmt check .
